/* Links darken slightly when they are pressed or hovered */
.action-link {
  cursor: pointer;
  transition: color 0.2s ease;
}

.action-link:hover {
  color: #000000;
}

/* Color Variant Bullets */
.color-variant-btn {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  border: 1px solid #222;
  padding: 0 !important;
  display: inline-block;
  box-shadow: none !important;
  cursor: pointer;
  flex-shrink: 0;
}



.color-variant-btn:focus {
  box-shadow: none !important;
}

.color-variant-btn.active {
  outline: 2px solid rgb(112, 112, 112) !important;
  outline-offset: 3px !important;
}

/* Color variants background */
.color-variant-btn.color-red {
  background-color: red !important;
}

.color-variant-btn.color-blue {
  background-color: blue !important;
}

.color-variant-btn.color-black {
  background-color: black !important;
}

/* Styles the size selection buttons */
.size-selection-btn {
  min-width: 48px;
  height: 42px;
  border-radius: 4px;
  font-size: 13.6px;
  border-color: #dee2e6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.size-selection-btn:not(.bg-dark):hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.size-selection-btn:active {
  background-color: #ffffff !important;
}

/* Styles the quantity selector */
.quantity-selector {
  height: 44px;
  background-color: #ffffff;
}

.handle-quantity {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

/* Styles the red buy now button */
.btn-buy-now {
  background-color: #d94646 !important;
  border: none;
  font-size: 16px;
}

.btn-buy-now:hover {
  background-color: #bd3a3a !important;
}

/* Styles the payment methods box */
.secure-checkout-card {
  background-color: #f8f9fa;
  border: 1px solid #f1f3f5;
}

.size-btn {
  transition: color 0.3s ease;
}

.size-btn:hover {
  color: #d94646 !important;
}